.MapContainer{
        height: 100vh;
        background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522));
        background-size: cover;
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .Search{
                display: flex;
                flex-direction: row;

        }
}

  
        
